<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist</title>
    <link rel="stylesheet" href="../styles/music.css">
</head>
<body>
    <div class="main">
        <div class="text-content">
            <h1>Songs Picked with 💖 Specially for You 🫵</h1>
        </div>
        <div class="songs">
            <div class="songItem">
                <img src="../songs/ybwm.jpeg" alt="na">
                <p>You Belong With Me</p>
                <button type="button" id="you-belong-with-me">Play</button>
            </div>
            <div class="songItem">
                <img src="../songs/yams.png" alt="na">
                <p>You are my sunshine</p>
                <button type="button" id="you-are-my-sunshine">Play</button>
            </div>
            <div class="songItem">
                <img src="../songs/brd.png" alt="na">
                <p>Bless the broken road</p>
                <button type="button" id="bless-broken-road">Play</button>
            </div>
            <div class="songItem">
                <img src="../songs/wmyb.jpeg" alt="na">
                <p>What makes you beautiful</p>
                <button type="button" id="what-makes-you-beautiful">Play</button>
            </div>
            <div class="songItem">
                <img src="../songs/htd.jpeg" alt="na">
                <p>Hey There Delilah</p>
                <button type="button" id="hey-there-delilah">Play</button>
            </div>
        </div>
    </div>
    <script src="../controllers/music.js"></script>
</body>
</html>